.formbox {
	/* min-width: 392px; */
    /* max-width: 692px; */
	width: 30%;
	margin: auto;
	margin-top: 25px;
	border: 1px outset #D0D0D0;
	border-radius: 4px;
	box-shadow: 2px 2px 4px grey;
}

.container {
	padding: 0px 15px 15px 15px !important;
	max-width: inherit !important;
	min-width: inherit !important;
}